<!-- Blog Grid Overlap Blocks -->
      <div class="g-pr-20--lg">
        <div class="masonry-grid row g-mb-70">
          <div class="masonry-grid-sizer col-sm-1"></div>
          <div class="masonry-grid-item col-sm-12 g-mb-30">
            <!-- Blog Minimal Blocks -->
            <article>
              <a href="/add-angular-to-dotnet-core">
                <img class="img-fluid w-100" src="~/images/Add-angular-to-dotnet-core-project.jpg" alt="Add angular to dotnet core project">
              </a>
              <div class="g-width-80x g-bg-white g-pos-rel g-z-index-1 g-pa-25 g-mt-minus-50 mx-auto">
                <span class="d-block g-color-gray-dark-v4 g-font-weight-600 g-font-size-12 text-uppercase mb-2">5 September 2017</span>
                <h2 class="h5 g-color-black g-font-weight-600 mb-3">
                  <a class="u-link-v5 g-color-black g-color-primary--hover g-cursor-pointer" href="/add-angular-to-dotnet-core">Add Angular to Dotnet Core Project
                </h2>
                <p class="g-color-gray-dark-v4 g-line-height-1_8">Learn how to set up Angular CLI in a dotnet project by using COORS</p>
                <a class="g-font-size-13" href="#">Read more...</a>
              </div>
            </article>
            <!-- End Blog Minimal Blocks -->
          </div>
        </div>
        <!-- Pagination -->
        @*<nav id="stickyblock-end" class="text-center" aria-label="Page Navigation">
          <ul class="list-inline">
            <li class="list-inline-item float-left hidden-xs-down">
              <a class="u-pagination-v1__item u-pagination-v1-4 g-brd-gray-light-v3 g-brd-primary--hover g-rounded-50 g-pa-7-16" href="#" aria-label="Previous">
                <span aria-hidden="true">
                  <i class="fa fa-angle-left g-mr-5"></i> Previous
                </span>
                <span class="sr-only">Previous</span>
              </a>
            </li>
            <li class="list-inline-item">
              <a class="u-pagination-v1__item u-pagination-v1-4 u-pagination-v1-4--active g-rounded-50 g-pa-7-14" href="#">1</a>
            </li>
            <li class="list-inline-item">
              <a class="u-pagination-v1__item u-pagination-v1-4 g-rounded-50 g-pa-7-14" href="#">2</a>
            </li>
            <li class="list-inline-item float-right hidden-xs-down">
              <a class="u-pagination-v1__item u-pagination-v1-4 g-brd-gray-light-v3 g-brd-primary--hover g-rounded-50 g-pa-7-16" href="#" aria-label="Next">
                <span aria-hidden="true">
                  Next <i class="fa fa-angle-right g-ml-5"></i>
                </span>
                <span class="sr-only">Next</span>
              </a>
            </li>
          </ul>
        </nav>*@
        <!-- End Pagination -->
      </div>
<!-- End Blog Grid Overlap Blocks -->